<mat-toolbar *ngIf="isMobile">
    <div class="logo-mobile">
        <button mat-icon-button (click)="toggleMenu()" style="background-image: url('../../../assets/Logo1.png');">
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container autosize="true">
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
        [opened]="isMobile ? 'false' : 'true'">
        <div *ngIf="!isMobile" class="logo-desktop">
            <button mat-icon-button (click)="toggleMenu()" style="background-image: url('../../../assets/Logo1.png');">
            </button>
            <span *ngIf="!isCollapsed" class="logo-text">ItsLib</span>
            <button *ngIf="!isCollapsed" mat-icon-button aria-label="Menu close icon" class="menu-close"
                (click)="toggleMenu()"> <mat-icon>close</mat-icon> </button>
        </div>
        <mat-nav-list>
            <a *ngIf="admin" mat-list-item routerLink="/users/admin">
                <span class="entry" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon class="menu-icon">face</mat-icon>
                    <span class="menu-text" *ngIf="!isCollapsed">Gestione utenti</span>
                </span>
            </a>
            <ng-container *ngFor="let item of this.items">
                <a mat-list-item [routerLink]="item.link">
                    <span class="entry" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon class="menu-icon">{{item.icon}}</mat-icon>
                        <span class="menu-text" *ngIf="!isCollapsed">{{item.title}}</span>
                    </span>
                </a>
            </ng-container>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>